* {
       margin: 0;
       padding: 0;
   }
header,
footer {
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}
h1,
h2 {
    text-align: center;
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
  text-align: center;
  font-size: 30px;
}
.card {
    width: 80;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
}
/* Acceptance criteria:

It is done when I have read the documentation on JavaScript basics.

It is done when I have read the documentation on JavaScript data types.

It is done when I have added a file called script.js to the assets folder in the Prework Study Guide project.

It is done when I have added a variable called topics with a value of “HTML, CSS, Git, JavaScript” to the file.

It is done when I have connected the script.js file to the index.html file by adding a script element to the <body> element.

It is done when I have used console.log to print the value of the variable to the console.
 */
